@import "../index.scss";

.todo {
  display: grid;
  grid-template-rows: $header-height calc(100vh - $header-height);
  grid-template-columns: $sideber-width calc(100vw - $sideber-width);

  &__header {
    // grid-row-start: 1;
    // grid-row-end: 2;
    // grid-column-start: 1;
    // grid-column-end: -1;

    grid-row: 1/2;
    grid-column: 1/-1;
  }

  &__sidebar {
    grid-row: 2/-1;
    grid-column: 1/2;
  }

  &_content {
    grid-row: 2/-1;
    grid-column: 2/-1;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10;
  padding: 20px 30px;
  height: calc(100vh - $header-height);
}

.accordion {
  // &__toggle {
  // }

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 10px;

    &__text {
      font-weight: inherit;
    }

    &__icon {
      cursor: pointer;
    }

    &__active {
      transform: rotate(-90deg);
    }
  }
}

.todo__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
