@import "../index.scss";
.list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__item {
    display: flex;
    gap: 15px;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;

    &:hover {
      background-color: $grey-light;
    }

    &__icon {
    }

    &__text {
      font-weight: inherit;
    }
  }
}

.active {
  font-weight: 800;
  background-color: $grey-light;
}
