@import "../index.scss";
.list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__item {
    display: flex;
    gap: 15px;
    font-size: 2rem;
    padding: 10px;

    &:hover {
      background-color: $grey-light;
    }

    &__icon {
    }

    &__text {
      font-weight: 500;
    }
  }
}
